<div class="home-container">
  <h1 class="home-titulo">Bem-vindo à Plataforma de Alunos</h1>

  <div class="card-alunos-total">
    <h3 class="card-titulo">Total de Alunos Cadastrados</h3>
    <p class="card-numero">{{alunos.length}}</p>
  </div>

  <div class="home-links">
    <a href="/alunos" class="btn-alunos">Gerenciar Alunos</a>
    </div>
</div>